<a href="https://colab.research.google.com/github/diegoeduardo/MachineLearning/blob/master/ML_Classificacao_02_Lendo_arq_internet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introducao a ML e Classificação -2 - lendo arquivos da internet

In [0]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [0]:
x= dados[["home","how_it_works","contact"]]
y= dados[["bought"]]

In [0]:
mapa = { 
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [0]:
x= dados[["principal","como_funciona","contato"]]
y= dados[["comprou"]]

x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [0]:
dados.shape

(99, 4)

In [0]:
treino_x = x[:75]
treino_x.shape

(75, 3)

In [0]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]
teste_y.shape

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [0]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [0]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
from sklearn.model_selection import train_test_split

train_test_split(x, y, test_size =0.25)

[    principal  como_funciona  contato
 30          0              1        0
 55          1              1        0
 48          1              1        0
 26          1              1        1
 65          0              1        1
 ..        ...            ...      ...
 21          0              1        0
 9           1              0        1
 44          0              0        1
 94          0              0        1
 20          0              0        1

 [74 rows x 3 columns],     principal  como_funciona  contato
 42          0              1        0
 29          0              0        1
 76          0              0        1
 17          0              1        0
 25          1              1        1
 60          1              0        1
 90          1              0        1
 53          1              1        0
 75          0              1        0
 16          0              0        1
 66          0              0        1
 49          1              1        0
 82          0              0        1
 71          0              0        1
 50          1              1        0
 35          1              0        1
 52          1              0        1
 81          0              0        1
 31          1              0        1
 59          0              0        1
 91          1              1        0
 67          1              0        1
 46          1              0        1
 61          0              1        0
 39          1              0        1,     comprou
 30        0
 55        0
 48        0
 26        1
 65        1
 ..      ...
 21        0
 9         1
 44        0
 94        0
 20        0

 [74 rows x 1 columns],     comprou
 42        0
 29        0
 76        0
 17        0
 25        1
 60        1
 90        1
 53        0
 75        0
 16        0
 66        0
 49        0
 82        0
 71        0
 50        0
 35        1
 52        1
 81        0
 31        1
 59        0
 91        0
 67        1
 46        1
 61        0
 39        1]

#TREINO E TESTE COM SKLEARN

In [0]:
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y =train_test_split(x, y, test_size =0.25) #informamos o valor do teste
print(treino_x.shape)
print(teste_x.shape)

(74, 3)
(25, 3)

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 100.00%

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
#setando o seed = 20 para que a aleatoriedade possa ter uma definicao (deixa de tirar a aleatoriadade))
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
treino_y["comprou"].value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [0]:
teste_y["comprou"].value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                         random_state = SEED, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
treino_y["comprou"].value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [0]:
teste_y["comprou"].value_counts()

0    17
1     8
Name: comprou, dtype: int64