<a href="https://colab.research.google.com/github/diegoeduardo/MachineLearning/blob/master/NLP_2_Introdu%C3%A7%C3%A3o_a_NLP_com_analise_de_sentimento_Bag_of_Words.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 01 - Dados Textuais: classificação e exploração.

In [0]:
from google.colab import files
uploaded = files.upload()

Saving imdb-reviews-pt-br.csv to imdb-reviews-pt-br.csv

In [0]:
import pandas as pd
import io

resenha = pd.read_csv(io.StringIO(uploaded['imdb-reviews-pt-br.csv'].decode('utf-8')))
resenha.head()


#import pandas as pd

#resenha = pd.read_csv("dados/imdb-reviews-pt-br.csv")
#resenha.head()

   id  ... sentiment
0   1  ...       neg
1   2  ...       neg
2   3  ...       neg
3   4  ...       neg
4   5  ...       neg

[5 rows x 4 columns]

In [0]:
from sklearn.model_selection import train_test_split

treino, teste, classe_treino, classe_teste = train_test_split(resenha.text_pt,
                                                              resenha.sentiment,
                                                              random_state = 42)

In [0]:
from sklearn.linear_model import LogisticRegression

regressao_logistica = LogisticRegression()
regressao_logistica.fit(treino, classe_treino)
acuracia = regressao_logistica.score(teste, classe_teste)
print(acuracia)

ValueError: ignored

In [0]:
print("Negativa \n")
print(resenha.text_pt[189])

Negativa

Este é sem dúvida o pior filme que eu já vi. E acredite em mim, eu vi muitos filmes. A reviravolta inacreditável que o filme faz - passando de um extremamente mau filme "Formas de vida alienígenas habitam a terra", com um filme que tenta espalhar um arquicristiano "O dia do julgamento está próximo, buscar Jesus ou queimar por toda a eternidade em as dívidas ardentes do inferno "mensagem - deixou-me atordoado depois de ter sido atormentado por 85 minutos. Até mesmo os cristãos religiosos devem se envergonhar ou ficar furiosos ao ver suas crenças postadas dessa maneira. Eu não sabia o que fazer comigo quando assisti a atuação horrível que poderia ter sido realizada por crianças de 7 anos de idade. Simplesmente repugnante. Eu não sou cristão nem muito religioso. Mas se eu estivesse, não teria mais medo do Inferno. Rich Christiano mostrou ser algo muito pior.

In [0]:
print("Positivo \n")
print(resenha.text_pt[49002])

Positivo

Crescendo em Nova York no final dos anos 80 e início dos anos 90, posso dizer pessoalmente que este é um dos documentários mais importantes feitos para cobrir esse lugar neste período de tempo. Não Madonna não veio com a idéia de Voguing, mas é de onde ela tirou! Em vez de combater a violência uns dos outros ou em brigas de gato, o voguing permitia que as pessoas "lutassem" dentro dos confins de tudo, menos que tocassem umas às outras, o que justificaria uma desqualificação automática. Vendo este tipo de extraordinariamente talentosas / bem orquestradas "jogadas" nos clubes foi nada menos do que espetacular e todos os grandes nomes de antigamente estão aqui ... Pepper La Beija, Paris Duprée, Xtragavaganza, etc. ..tudo comemorado nos gostos de peças de época como a música de Malcom McLarens "Deep in Vogue" ... não importava quem você era, ou de onde você era porque quando você passava por aquelas portas nesse "reino mágico" de De certa forma, você se tornou parte de algo maior que você / você era importante / e, o mais importante, a criação de seus próprios movimentos e imaginação ... e qualquer pessoa de qualquer lugar poderia se tornar Rei ou Rainha como poderia ter sido. As palavras e inteligência eram tão afiadas quanto os movimentos no chão. Toda a tensão, excitação e magia dessa energia urbana de NYC é capturada neste filme. BRILHANTE!!! POR FAVOR, LIBERE EM DVD para o mundo ver !!! Obrigado!

In [0]:
print(resenha.sentiment.value_counts())

neg    24765
pos    24694
Name: sentiment, dtype: int64

In [0]:
resenha.head()

   id  ... sentiment
0   1  ...       neg
1   2  ...       neg
2   3  ...       neg
3   4  ...       neg
4   5  ...       neg

[5 rows x 4 columns]

In [0]:
classificacao = resenha["sentiment"].replace(["neg", "pos"], [0,1])

In [0]:
resenha["classificacao"] = classificacao

In [0]:
resenha.head()

   id  ... classificacao
0   1  ...             0
1   2  ...             0
2   3  ...             0
3   4  ...             0
4   5  ...             0

[5 rows x 5 columns]

In [0]:
resenha.tail()

          id  ... classificacao
49454  49456  ...             1
49455  49457  ...             1
49456  49458  ...             1
49457  49459  ...             1
49458  49460  ...             1

[5 rows x 5 columns]

## Aula 2 - Bag of Words: criando representações da linguagem humana.

In [0]:
from sklearn.feature_extraction.text import CountVectorizer

texto = ["Assisti um filme ótimo", "Assisti um filme ruim"]

vetorizar = CountVectorizer(lowercase=False)
bag_of_words = vetorizar.fit_transform(texto)

In [0]:
vetorizar.get_feature_names()

['Assisti', 'filme', 'ruim', 'um', 'ótimo']

In [0]:
bag_of_words

<2x5 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [0]:
import pandas as pd

#matriz_esparsa = pd.SparseDataFrame(bag_of_words,columns=vetorizar.get_feature_names())

#usar nova metodologia>> DataFrame.sparse.from_spmatrix
matriz_esparsa = pd.DataFrame.sparse.from_spmatrix(bag_of_words, columns=vetorizar.get_feature_names())
matriz_esparsa.head()

   Eu  ao  apenas  as  com  como  da  ...  são  também  tem  tão  um  uma  você
0   0   1       0   0    2     1   0  ...    0       0    1    0   3    2     0
1   0   0       0   0    2     0   0  ...    2       0    1    0   4    2     1
2   1   0       0   0    3     1   0  ...    3       1    0    1   3    2     2
3   2   0       1   4    7     2   1  ...    1       0    1    0   7    4     1
4   0   0       1   2    3     0   1  ...    4       0    0    0   3    4     0

[5 rows x 50 columns]

In [0]:
matriz_esparsa.head()

   Eu  ao  apenas  as  com  como  da  ...  são  também  tem  tão  um  uma  você
0   0   1       0   0    2     1   0  ...    0       0    1    0   3    2     0
1   0   0       0   0    2     0   0  ...    2       0    1    0   4    2     1
2   1   0       0   0    3     1   0  ...    3       1    0    1   3    2     2
3   2   0       1   4    7     2   1  ...    1       0    1    0   7    4     1
4   0   0       1   2    3     0   1  ...    4       0    0    0   3    4     0

[5 rows x 50 columns]

In [0]:
vetorizar = CountVectorizer(lowercase=False, max_features=50)
bag_of_words = vetorizar.fit_transform(resenha.text_pt)
print(bag_of_words.shape)

(49459, 50)

In [0]:
def classificar_texto(texto, coluna_texto, coluna_classificacao):
    vetorizar = CountVectorizer(lowercase=False, max_features=50)
    bag_of_words = vetorizar.fit_transform(texto[coluna_texto])
    treino, teste, classe_treino, classe_teste = train_test_split(bag_of_words,
                                                              texto[coluna_classificacao],
                                                              random_state = 42)
    regressao_logistica = LogisticRegression(solver = "lbfgs")
    regressao_logistica.fit(treino, classe_treino)
    return regressao_logistica.score(teste, classe_teste)
print(classificar_texto(resenha, "text_pt", "classificacao"))

0.6583097452486858